# =============== #
# Unity generated #
# =============== #
Assets/
Builds/
Library/
Temp/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
*.csproj
*.sln
*.userprefs
