# =============== #
# Unity generated #
# =============== #
Assets/*
Builds/
Library/
Temp/

!Assets/Scripts/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
*.csproj
*.sln
*.userprefs
