# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Builds/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
*.userprefs
*.csproj
*.sln